<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="submissiontree.Submissiontree" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:submissiontree.Submissiontree" id="submissiontree.Submissiontree"/>
  </extension>
</plugin>
